<div class="question-sidelist">
  <div class="question-sl_frame">
    <div class="question-sl_header">
      <h3>人気のタグ</h3>
    </div>
    <div class="question-sl_content">
      <ul>
        <li>
          <div class="question-sl_itembox">
            <a href="<%= questions_url + '?tag=2' %>">Ruby on Rails</a>
          </div>
        </li>
        <li>
          <div class="question-sl_itembox">
            <a href="<%= questions_url + '?tag=3' %>">Ruby Gems</a>
          </div>
        </li>
        <li>
          <div class="question-sl_itembox">
            <a href="<%= questions_url + '?tag=4' %>">HTML/CSS</a>
          </div>
        </li>
        <li>
          <div class="question-sl_itembox">
            <a href="<%= questions_url + '?tag=5' %>">Javascript</a>
          </div>
        </li>
        <li>
          <div class="question-sl_itembox">
            <a href="<%= questions_url + '?tag=6' %>">DataBase/SQL</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="question-sl_bottom">
      <a>もっと見る</a>
    </div>
  </div>
</div>