<div class="question-mainlist">
  <div class="question-ml_frame">
    <div class="question-ml_header">
      <h2>質問一覧</h2>
    </div>
    <% if questions.count==0 %>
      <div class="question-empty">
        <p>条件に一致する質問の投稿はありません。</p>
      </div>
    <% end %>
    <ul>
      <% questions.each do |f| %>
        <li>
          <div class="question-ml_topic">
            <div class="question-ml_info">
              <div class="question-ml_title">
                <% if f.writable == true %>
                  <span class="mark-red">受付中</span>
                <% else %>
                  <span class="mark-green">締切済</span>
                <% end %>
                <h3><a href=<%= question_url(f.id) %>><%= f.title %></a></h3>
              </div>
              <p>質問者：<%= f.user.name %> - <%= f.created_at.strftime("%Y.%m.%d %H:%M") %></p>
              <div class="question-ml_tag">
                <ul>
                  <li><a href="" class="btn-tag">Ruby</a></li>
                  <li><a href="" class="btn-tag">HTML</a></li>
                </ul>
                <div class="clear_both"></div>
              </div>
            </div>
            <div class="question-ml_counter">
              <div class="question-ml_cntbox">
                <p>回答</p>
                <p class="count-strong"><%= f.answers.count %></p>
              </div>
            </div>
            <div class="clear_both"></div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate questions, window: 2 %>
  </div>
</div>