<%= render "shared/navibar" %>
<div class="container-main">
  <div class="container-question">
    <% if flash.present? %>
      <%= render "shared/notice" %>
    <% end %>
    <h1>24時間ランキング（アクセス数順）</h1>
    <div class="question-index_main">
      <%= render partial: 'pvcounts/list' , locals: {pvcounts: @pvcounts} %>
    </div>
    <div class="question-index_side">
      <%= render partial: 'questions/list_pv' %>
      <%= render partial: 'questions/list_tag' %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>