<% if answer.question.writable == true %>
  <div class="answer-form">
    <%= form_for(answer,remote: true) do |f| %>
      <div class="answer-form_img">
        <%= image_tag profile_image_mini_url(current_user) %>
      </div>
      <div class="answer-form_field">
        <%= f.text_area :content, placeholder: "回答を入力する", rows: 6 %>
        <%= f.hidden_field :question_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div class="answer-form_action">
        <%= f.submit "Enter", class: "btn btn-answer" %>
      </div>
    <% end %>
    <div class="clear_both"></div>
  </div>
<% else %>
  <div class="answer-form_closed"></div>
<% end %>